.b-subtitle{
    & p{
        margin-top: 25px;
        margin-bottom: 30px;
        font-size: 12px;
        line-height: 19px;
        max-width: 230px; 
    }
    &--blue p{
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: #387EF9;
        font-size: 16px;
        line-height: 20px;
        max-width: 100%;
    }
    
}
@media (min-width:1190px) {
    .b-subtitle p{
        margin-top: 35px;
        margin-bottom: 45px;
        font-size: 16px;
        line-height: 25px;
        min-width: 355px;
    }
}