.slider-btns{
    display: flex;
    width: 120px;
    justify-content: space-between;
    margin: 0 auto;
}
.slider-btn{
    border: 1px solid #387EF9;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.slider-btn:hover{
    background-color: #387EF9;
}
.slider-btn svg{
    fill: #387EF9;
}
.slider-btn:hover svg{
    fill: #fff;
}
.slider-btn.swiper-button-disabled svg{
    fill: rgb(155, 152, 152);
}
.slider-btn.swiper-button-disabled{
    border: 1px solid rgb(155, 152, 152);
    background-color: #fff;
}