@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
         url('../fonts/Rubik-Regular.woff2') format('woff2'),
         url('../fonts/Rubik-Regular.woff') format('woff');
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
         url('../fonts/Rubik-Medium.woff2') format('woff2'),
         url('../fonts/Rubik-Medium.woff') format('woff');
}
@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
         url('../fonts/Mulish-SemiBold.woff2') format('woff2'),
         url('../fonts/Mulish-SemiBold.woff') format('woff');
}
@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
         url('../fonts/Mulish-Bold.woff2') format('woff2'),
         url('../fonts/Mulish-Bold.woff') format('woff');
}
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
         url('../fonts/DMSans-Regular.woff2') format('woff2'),
         url('../fonts/DMSans-Regular.woff') format('woff');
}
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
         url('../fonts/DMSans-Medium.woff2') format('woff2'),
         url('../fonts/DMSans-Medium.woff') format('woff');
}